$rosa: #ffc6c8;
$anaranjado: #ffd2b5;
$amarillo: #fffec6;
$verde: #dceec1;
$lila: #c1c6ee;
$verdeAgua: #a8e7d0;
$negro: #000000;
$blanco: #ffffff;
$grisClaro: #eeeeee;
$grisOscuro: #b1b4ba;

$fuenteCursiva: 'WindSong', cursive;
$fuentePrincipal: 'PT Sans Narrow', sans-serif;

